body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Arial,sans-serif;
  background-color: #f7da97;
  color: #FFFFFF;
}
header {
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
}

nav ul {
  list-style: none;
}